nav {
  transition: all 0.5s ease-in-out;
}

.nav-bar-sticky {
  background: rgba(0, 0, 0, 0.75) !important;
}

header {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.xl-text {
  font-size: 65px;
}

.vertical-decoration {
  top: 22%;
  width: 24px;
}

@media (max-width: 767px) {
  header {
    text-align: center;
  }
  .xl-text {
    font-size: 50px;
  }
}
